#about.thml,
body {
  background-color: #fefdf8;
}

img {
  width: 100%;
}

/*Mobile version*/
.img_stiferne {
  width: 93%;
  margin-left: 18px;
  padding-top: 14px;
  padding-bottom: 10px;
}

.about_us_text {
  font-family: "Kanit", sans-serif;
  font-size: 12px;
  font-weight: 350;
  line-height: 23px;
  margin-left: 30px;
  margin-right: 30px;
  max-width: 65ch;
}

.about_us_header {
  font-family: "Bebas Neue", sans-serif;
  font-size: 30px;
  font-weight: 500;
  margin-left: 30px;
}

li {
  font-family: "Kanit", sans-serif;
  font-size: 12px;
  font-weight: 350;
  margin-left: 5px;
}

.press_header {
  font-family: "Bebas Neue", sans-serif;
  font-size: 30px;
  font-weight: 500;
  margin-left: 30px;
}

.h4 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin-left: -0.5rem;
}

/* Styling af links */
li {
  /* font-family: "Kanit", sans-serif;
  font-size: 12px;
  font-weight: 350; */
  line-height: 25px;
  max-width: 65ch;
}

a:link {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: none;
}

main a:hover {
  color: #f2e8c9;
  background-color: transparent;
  text-decoration: underline;
}

p {
  color: black;
}

/* footer mobile */
.footer_about {
  display: flex;
  padding: 15px;
  background-color: #f2e8c9;
  width: 100%;
  position: relative;
  left: 0;
  bottom: 0;
  justify-content: center; /* Centrer hele containerens indhold */
  align-items: center;
  flex-direction: column; /* Placer børnene i en kolonne */
  margin-bottom: 15px;
  margin-top: 15px;
}

.tekst_footer_about {
  display: flex;
  justify-content: center; /* Center teksten horisontalt */
  align-items: center; /* Center teksten vertikalt */
  gap: 5px; /* Tilføj lidt mellemrum mellem elementerne */
  color: #000000;
  font-family: "Black Ops One", system-ui;
  font-weight: normal;
  font-style: normal;
  font-size: 13px;
  margin-top: 5px;
}

.undertekst_footer_about {
  color: #000000;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  font-size: 9px;
  margin-top: 5px;
  text-align: center;
}

.tekst_footer_about a {
  transition: opacity 170ms ease-in-out, color 170ms ease-in-out, background-color 170ms ease-in-out;
  color: #000000;
  text-decoration: none; /* Fjern understregning */
}

.tekst_footer_about a:hover {
  opacity: 0.5;
}

/* Desktop version */
@media (min-width: 769px) {
  .about_container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .img_stiferne,
  .about_us_container,
  .press_container {
    flex: 1;
  }

  .img_stiferne {
    order: 2; /* Billedet placeres til højre */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .about_us_container {
    order: 1; /* Teksten placeres til venstre */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .press_container {
    order: 3; /* Press-sektionen placeres under billedet */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .img_stiferne img {
    width: 80%;
    height: auto;
    padding-top: 130px;
    margin-left: 40px;
    margin-right: 90px;
  }

  .about_us_header,
  .about_us_text {
    margin-left: 110px;
  }

  .about_us_header {
    font-size: 35px;
    margin-bottom: 2px;
    padding-top: 45px;
  }

  .about_us_text {
    font-size: 16px;
    max-width: 50ch;
    line-height: 30px;
  }

  .press_header {
    margin-right: 630px;
    font-size: 30px;
    margin-bottom: -5px;
    margin-top: -15px;
  }

  .press_links {
    margin-right: 130px;
    font-size: 12px;
    line-height: 25px;
    padding-bottom: 35px;
  }

  h4 {
    font-size: 16px;
    margin-bottom: -5px;
  }

  li {
    font-size: 14px;
    line-height: 35px;
    max-width: 60ch;
  }
}
