/* index.html */
.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}



.slideshow-container {
  max-width: 1500px;
  position: relative;
  margin: auto;
  padding-top: 10px;
}

.text {
  font-family: "Bebas Neue", sans-serif;
  color: #000000;
  font-size: 35px;
  font-weight: 500;
  font-style: normal;
  padding: 8px 12px;
  position: absolute;
  bottom: 95px;
  width: 100%;
  text-align: center;
  opacity: 0.6; /* Tilføj gennemsigtighed */
}

.fade {
  animation-name: fade;
  animation-duration: 0.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.tekst_landingpage {
  font-family: "Kanit", sans-serif;
  font-size: 12px;
  font-weight: 350;
  line-height: 23px;
  margin-left: 30px;
  margin-right: 30px;
  max-width: 65ch;
}

/*Button*/

/* .about_knap {
  font-weight: 600;
}

.about_knap a {
  text-decoration: none;
  color: #000000;
  transition: opacity 170ms ease-in-out, color 170ms ease-in-out, background-color 170ms ease-in-out;
}

.about_knap a:hover {
  text-decoration: none;
  color: #667368;
  opacity: 1;
} */

.button_div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.button {
  width: 140px;
  height: 45px;
  font-family: "black ops one";
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fff;
  background-color: #000000;
  border: none;
  border-radius: 0px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease 0s;
  cursor: pointer;
  outline: none;
  }

.button:hover {
  background-color: #f2e8c9;
  box-shadow: 0px 12px 18px #706d6d;
  color: #000000;
  transform: translateY(-5px);
}

.services_overskrift {
  font-family: "Bebas Neue", sans-serif;
  font-size: 25px;
  font-weight: 500;
  padding-top: 40px;
}

.tekst_services {
  font-size: 12px;
  font-weight: 350;
  font-family: "Kanit", sans-serif;
  margin-left: 30px;
  margin-right: 30px;
}

.custom-list {
  list-style-type: disc; /* Skifter til bulletpoints */
  padding-left: 20px; /* Tilføjer lidt indrykning til listen */
  margin-bottom: 35px;
}

.custom-list li {
  margin-bottom: 10px; /* Tilføjer afstand mellem punkterne */
}

@media (min-width: 769px) {
  .text {
    margin-top: 45px;
    font-size: 50px;
  }
  .tekst-container {
    display: flex;
    flex-direction: row; /* Skifter til række for desktop */
    justify-content: space-between;
  }

  .tekst-row {
    flex: 1;
    max-width: 65ch;
    margin-left: 50px;
  }

  .tekst-row2 {
    flex: 1;
    display: flex;
    justify-content: center; /* Centerer teksten horisontalt */
    align-items: flex-start; /* Justerer teksten vertikalt til toppen */
    max-width: 65ch;
    margin-bottom: 35px;
    margin-right: 30px;
    line-height: 20px;
  }

  .tekst_landingpage,
  .tekst_services {
    font-size: 16px;
    /* line-height: 28px;
    margin-left: 50px;
    margin-right: 50px; */
  }

  .tekst_landingpage {
    line-height: 30px;
    padding-top: 100px;
    padding-left: 60px;
  }

  .services_overskrift {
    font-size: 22px;
    padding-top: 0; /* Fjern padding top for bedre justering */
    padding-top: 100px;
  }

  .custom-list {
    margin-top: 20px;
    list-style-type: disc;
    padding-left: 20px;
  }

  .custom-list li {
    margin-bottom: 15px;
  }
}
