/* showroom.html */
#showroom.thml,
body {
  background-color: #f2e8c9a0;
}

.herosection {
  width: 100%;
  height: 30vh;
  position: relative;
}

.herosection .baggrundsklip {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.specifik-side header {
  background-color: #f2e8c9;
}

.specifik-side .menu a {
  color: #000000;
}

.specifik-side .menu.active {
  background-color: #f2e8c9;
}

.specifik-side footer {
  background-color: #f2e8c9;
  position: relative;
  border-top: none;
}

.specifik-side footer p {
  color: #000000;
}

.specifik-side footer p a {
  color: #000000;
}

.showroom_container img {
  width: 100%;
  height: auto;
  padding: 10px;
}

.showroom_container h3 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 500;
  font-size: 30px;
  font-style: normal;
  margin-bottom: 5px;
  margin-left: 15px;
}

/* Adresse og åbningstider */
.info-box {
  font-family: "Kanit", sans-serif;
  font-size: 12px;
  font-weight: 350;
  line-height: 1.5;
  margin-bottom: 50px;
  margin-left: 15px;
}

.info-box p {
  padding-bottom: 5px;
}

.info-box strong {
  font-size: 15px;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
}

/* IMG PARIS */
.image-row2 img {
  width: 100%;
  height: 38vh;
  object-fit: cover; /* Sørger for at billedet bevarer proportionerne */
  object-position: center; /* Centrerer billedet inden for rammen */
}

/*TEKST OMKRING SHOWROOMS*/
.showroom-tekst {
  font-family: "Kanit", sans-serif;
  font-size: 12px;
  font-weight: 350;
  line-height: 23px;
  margin-left: 50px;
  max-width: 47ch;
  padding-bottom: 30px;
}

@media (min-width: 769px) {
  .herosection {
    width: 100%;
    height: 80vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: relative;
  }
  .herosection .baggrundsklip {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .specifik-side header {
    background-color: #f2e8c9;
  }

  .specifik-side .menu a {
    color: #000000;
    font-size: 24px;
  }

  .specifik-side footer {
    background-color: #f2e8c9;
    position: relative; /* Beholder den relative position */
    padding: 20px 0;
    border-top: none;
  }

  .specifik-side footer p {
    color: #000000;
  }

  .specifik-side footer p a {
    color: #000000;
  }

  .showroom_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10px; /* Tilføj margin til bunden af containeren */
  }

  .content-row {
    margin-bottom: 40px;
  }

  .image-row,
  .image-row2 {
    flex: 1;
    position: relative;
    margin-left: 35px;
    padding-top: 35px;
  }

  .info-copenhagen,
  .info-paris {
    flex: 1;
  }

  .info-copenhagen {
    text-align: center;
    margin-right: 70px;
  }

  .info-paris {
    text-align: center;
  }

  .info-box {
    font-size: 15px;
  }

  .info-box strong {
    font-size: 16px;
  }

  .image-row img,
  .image-row2 img {
    width: 90%;
    height: auto;
  }

  .image-row2 img {
    width: 95%;
    height: 48vh;
  }

  .showroom_container .h3-paris {
    font-size: 50px;
    position: absolute;
    top: 35%;
    width: 90%;
    text-align: center;
    margin-left: 27px;
    opacity: 0.8.5;
    color: #f2e8c9;
  }

  .showroom_container .h3-copenhagen {
    font-size: 50px;
    position: absolute;
    margin-left: 225px;
    top: 35%;
    width: 90%;
    opacity: 0.8.5;
    color: #f2e8c9;
  }

  .showroom-tekst {
    text-align: center;
    font-size: 16px;
    line-height: 35px;
    max-width: 60ch;
    margin-left: 450px;
  }
}
