/* showroom.html */
#showroom.thml,
body {
  background-color: #fefdf8;
}

.herosection {
  display: grid;
  height: 15%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background-color: black;
}

.herosection-item {
  display: grid;
  margin-top: -11px;
  margin-right: -13%;
  margin-left: -13%;
}

.specifik-side header {
  background-color: #f2e8c9;
}

.specifik-side .menu a {
  color: #000000;
}

.specifik-side .menu.active {
  background-color: #f2e8c9;
}

.specifik-side footer {
  background-color: #f2e8c9;
  position: relative;
  border-top: none;
}

.specifik-side footer p {
  color: #000000;
}

.specifik-side footer p a {
  color: #000000;
}

.showroom_container img {
  width: 100%;
  height: auto;
  padding: 10px;
}

.showroom_container h3 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 500;
  font-size: 25px;
  font-style: normal;
  text-align: center;
  margin-bottom: 5px;
}

/* Adresse og åbningstider */
.info-box {
  font-family: "Kanit", sans-serif;
  font-size: 12px;
  font-weight: 350;
  line-height: 1.5;
  margin-bottom: 50px;
  margin-left: 15px;
}

.info-box p {
  padding-bottom: 5px;
}

.info-box strong {
  font-size: 15px;
  font-family: "Kanit", sans-serif;
  font-weight: 500;
}

/* IMG PARIS */
.image-row2 img {
  width: 100%;
  height: 50vh;
  object-fit: cover; /* Sørger for at billedet bevarer proportionerne */
  object-position: center; /* Centrerer billedet inden for rammen */
}

/*TEKST OMKRING SHOWROOMS*/
.showroom-tekst {
  font-family: "Kanit", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 23px;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  max-width: 65ch;
  padding-bottom: 30px;
}

@media (min-width: 769px) {
  .herosection {
    display: grid;
    height: 31%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color: black;
  }

  .herosection-item {
    display: grid;
    margin-top: -240px;
  }

  /* .herosection dotlottie-player {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    top: 0;
    left: 0;
  } */

  .specifik-side header {
    background-color: #f2e8c9;
  }

  .specifik-side .menu a {
    color: #000000;
    font-size: 20px;
  }

  .specifik-side footer {
    background-color: #f2e8c9;
    position: relative; /* Beholder den relative position */
    padding: 20px 0;
    border-top: none;
  }

  .specifik-side footer p {
    color: #000000;
  }

  .specifik-side footer p a {
    color: #000000;
  }

  .showroom_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10px; /* Tilføj margin til bunden af containeren */
  }

  .content-row {
    margin-bottom: 40px;
  }

  .image-row,
  .image-row2 {
    flex: 1;
    position: relative;
    margin-left: 23px;
    padding-top: 35px;
  }

  .info-copenhagen,
  .info-paris {
    flex: 1;
    margin-left: 20px;
  }

  .image-row img,
  .image-row2 img {
    width: 90%;
    height: auto;
  }

  .image-row2 img {
    width: 95%;
    height: 51vh;
  }

  .showroom_container .h3-paris {
    font-size: 50px;
    position: absolute;
    top: 35%;
    width: 90%;
    text-align: center;
    opacity: 0.8;
    color: #f2e8c9;
  }

  .showroom_container .h3-copenhagen {
    font-size: 50px;
    position: absolute;
    margin-right: 30px;
    top: 35%;
    width: 90%;
    text-align: center;
    opacity: 0.8;
    color: #f2e8c9;
  }

  .showroom-tekst {
    text-align: start;
    font-size: 16px;
    line-height: 30px;
    min-width: 80%;
    margin-left: 50px;
  }
}
