* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #f2e8c9;
  max-height: 130px;
  width: 100%;
}

.logo img {
  width: 90%; /* Tilpasset mobilversion */
  height: auto;
  padding-top: 5px;
}

.logo a {
  transition: opacity 170ms ease-in-out, color 170ms ease-in-out, background-color 170ms ease-in-out;
}

.logo a:hover {
  opacity: 0.5; /* Justér gennemsigtighedsniveauet efter behov */
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
}

.menu a {
  display: block;
  padding: 10px;
  color: #000000;
  text-decoration: none;
  transition: opacity 170ms ease-in-out, color 170ms ease-in-out, background-color 170ms ease-in-out;
  text-align: end;
  font-family: "Black Ops One", system-ui;
  font-weight: normal;
  font-style: italic;
  font-size: 12px;
}

.menu a:hover {
  opacity: 0.5;
}

.rotating-logo {
  width: 150px; /* Tilpasset mobilversion */
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.footer {
  display: flex;
  padding: 15px;
  background-color: #f2e8c9;
  width: 100%;
  position: fixed; /* Fixer footer til bunden af siden */
  left: 0;
  bottom: 0;
  justify-content: center; /* Centrer hele containerens indhold */
  align-items: center;
  flex-direction: column; /* Placer børnene i en kolonne */
}

.tekst_footer {
  display: flex;
  justify-content: center; /* Center teksten horisontalt */
  align-items: center; /* Center teksten vertikalt */
  gap: 10px; /* Tilføj lidt mellemrum mellem elementerne */
  color: #000000; /* Tekstfarve */
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  font-size: 10px;
  margin-top: 5px;
}

.undertekst_footer {
  color: #000000; /* Tekstfarve */
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold; /* Mindre fed skrift for at skelne fra hovedteksten */
  font-size: 9px; /* Mindre skrifttype */
  margin-top: 5px; /* Tilføj lidt afstand over den mindre tekst */
  text-align: center; /* Centerer teksten horisontalt */
}

.tekst_footer a {
  transition: opacity 170ms ease-in-out, color 170ms ease-in-out, background-color 170ms ease-in-out;
  color: #000000; /* Match linkets farve med den øvrige tekst */
  text-decoration: none; /* Fjern understregning */
}

.tekst_footer a:hover {
  opacity: 0.5; /* Justér gennemsigtighedsniveauet efter behov */
}

/* Media query for desktop version */
@media (min-width: 769px) {
  header {
    padding: 20px; /* Tilpasset desktopversion */
  }

  .logo img {
    width: 50%; /* Tilpasset desktopversion */
  }

  .menu a {
    font-size: 24px; /* Tilpasset desktopversion */
  }

  .rotating-logo {
    width: 200px; /* Tilpasset desktopversion */
  }

  .footer {
    padding: 20px; /* Tilpasset desktopversion */
  }

  .tekst_footer {
    font-size: 12px; /* Tilpasset desktopversion */
  }

  .undertekst_footer {
    font-size: 10px; /* Tilpasset desktopversion */
  }
}
